body {
    max-width: 1024px;
    margin: 0 auto;
}
.container{
    width: inherit;
    height: fit-content;
    background-color: #808389;
    border: 1.5em solid rgba(214, 211, 211, 0.534);
    margin: 0 auto;
    border-radius: 2%;
    box-sizing: border-box;
    margin-top: 1em;
}

.container__content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    gap: 2vh;
    margin-top: 7%;
    margin-bottom: 7%;
}

input{
    display: none;
}

.block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vh 0;
}

.controls {
    width: 100%;
    height: 1em;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5em;
}

.controls div {
    width: 1.6em;
    height: 1.6em;
    margin-top: -0.8em;
    margin-left: -0.8em;
    padding: 0.5em;
}

.controls  label{
    display: block;
    box-sizing:border-box;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background-color: #0280a3c5;
    cursor: pointer;   
}